// Плитки каталога
mixin catalog(data)
  .catalog__group
    each item in data
      a.catalog__item(href=item.link)
        h2.catalog__item-title=item.title
        img.catalog__item-img(src=item.imgSrc)


// Хлебные крошки
mixin breadcrumbs(links)
  .breadcrumbs(itemscope itemtype="http://schema.org/BreadcrumbList")
    .container.breadcrumbs__container
      each link in links
        if link.url
          a.breadcrumbs__item(href=link.url itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")= link.text
        else
          span.breadcrumbs__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")= link.text
